
<div> main list view</div>

        <div>number string : {{mainNumber}}</div>
        <div>number object : {{mainNumberObject.number}}</div>
        <div>number function ref : {{mainNumberFunction()}}</div>
        <div>number function (string) because already ran in controller : {{mainNumberFunctionActiveted}}</div>




        <div style="padding-top: 20px"><button ng-click="increase()" >increase number</button></div>
        <div style="padding-bottom: 20px"><button  ui-sref="info">move to next ui-view</button></div>
<div style="padding-bottom: 20px"><button  ui-sref="model">move to model</button></div>
        <div style="padding-bottom: 20px"><button  ng-click="runApply()">run apply</button></div>

        <div>every time the user click a button inside ng-click
         we have the scope.$apply
            </br>that will refresh all the listeners.
            (the same with $http)
        and in the string case we will copy the value and in the
        object case we will get the ref to that object</div>




